<h1>Tags Cloud</h1>

<% @tags_data.each do |tag, val| %>
    <span style="font-size: <%= val * 16.5 %>px;">
        <%= link_to tag, contents_path(tags: tag), style: "text-decoration: none" %>
    </span>
<% end %>
